<div class="cart-background">
  <div style="text-align: left; border: solid;">
      <h4> <%= product.name %></h4>
      <h4>Price: <span style="color: white"> <%= number_to_currency product_item.unit_price %></span></h4>
      <div class="dessert-img">
        <%= image_tag(product.img_location, size:'150') %>
      </div>
        <%= form_for product_item, remote: true do |f| %>
  </div>
      <div class="col-xs-3">
        <%= f.number_field :quantity, value: product_item.quantity.to_i, class: "form-control", min:1 %>
        <%= f.hidden_field :product_id, value: product.id %>
      </div>
      <div >
      <%= f.submit 'Update Quantity', class: "btn btn-default"%>
      </div>
    </div>
        <h4>
        <%= f.label 'Subtotal: '%>
        <%= number_to_currency product_item.total_price %>
        </h4>
        <%= link_to "Delete", product_item, {data: { confirm: "Are you sure you want to delete the dessert '#{product_item.product.name}' from your cart?" }, method: :delete, remote: true, class: "btn btn-danger"} %>
      <% end %>
</div>
