<!DOCTYPE html>
<html>
  <head>
    <title>Rachels Dessert App</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <h1> <%= link_to 'Rachels Desserts', home_path %> </h1>
    <div class="col-xs-6 text-right">
      <h2 class="cart-text"> <%= render 'layouts/cart_text' %> </h2>
      </div>

    <%= yield %>
  </body>
</html>
