<!DOCTYPE html>
<html>
  <head>
    <title>Rachels Dessert App</title>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <% if request.ssl? %>
      <%= stylesheet_link_tag 'https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css' %>
      <%= javascript_include_tag 'https://macdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js' %>
      <% else %>
      <%= stylesheet_link_tag 'http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css' %>
      <%= javascript_include_tag 'http://macdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js' %>
      <% end %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
  </head>
  <body>
    <div class="banner">
      <div class="waves">
        <div class="waves-overlay"></div>
        <div class="waves-another-overlay"></div>
        <div class="wavves-overlay-damn"></div>
      </div>

      <ul class="topnav">
        <li><a class="left" <%= link_to 'Home', home_path %> </a></li>
        <li><a class="left" <%= link_to 'About', home_path %></a></li>
        <li><a class="left" <%= link_to 'Menu', home_path %></a></li>
        <li class="right"><a <%= render 'layouts/cart_text' %> </a></li>
        <li class="right"><a <%= link_to image_tag("logos/cookie_logo.png", size:'20'), cart_path %> </a></li>
      </ul>
        <div class="header">
          <p> <%= link_to 'Rachel\'s Desserts', home_path %> </p>
        </div>
          <div class="rachels-logo">
            <%= link_to image_tag("logos/rachels_logo.png", size:'145'), home_path %>
          </div>

      <div class="footer">
        <div class="footer-text">
          <!-- © 2017 Rachels Fire Island. All Rights Reserved -->
        </div>
      </div>
    </div>
      <!-- <div style="text-align: right; margin-right: 50px;">
      </div> -->
    <%= yield %>
  </body>
</html>
